.acting__slide {
  padding: 30px 0;
  &-img {
    height: 780px;
  }
}
.acting__testimonial {
  padding: 30px 0;
  border-bottom: $line;
}
.acting__desc {
  max-width: 550px;
  margin: 0 auto;
  &-item {
    line-height: 30px;
  }
}
.acting__footer {
  position: relative;
  margin-bottom: 70px;
  &-img {
    height: 1143px;
  }
  &-link {
    position: absolute;
    top: calc(100% - 36px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    color: $primary-color;
  }
}
