.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $line;
  padding: 16px 0;
  &__branding {
    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    &-logo {
      margin-right: 30px;
    }
    &-name {
      font-weight: 700;
      font-size: 12px;
      color: $primary-color;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 0 30px;
    &--icon {
      width: 25px;
      height: 25px;
    }
    &-phone {
      font-size: 12px;
      font-weight: 400;
      text-decoration: none;
      color: $primary-color;
    }
    &:nth-child(2) {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 14%;
        left: 62%;
        width: 1px;
        background-color: #ffffff;
        height: 18px;
      }
    }
  }
}
.nav {
  display: flex;
  align-items: center;
  gap: 0 70px;
  padding: 20px 0;
  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $primary-color;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0 68px;
    list-style: none;
    .active {
      .nav__list-item--link {
        text-decoration: underline;
      }
    }
    &-item {
      &--link {
        font-size: 12px;
        font-weight: 600;
        color: $primary-color;
        text-decoration: none;
      }
      &--dropdown {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 90%;
          left: -30%;
          width: 200%;
          height: 50px;
          z-index: 10000;
        }
      }
      &--dropdown:hover .menu__dropdown {
        display: block;
      }
    }
  }
}
.menu__dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 27px);
  width: 1178px;
  left: -315px;
  z-index: 9999;
  background-color: #1d1d1d;
  padding: 30px 30px;
  &-img {
    opacity: 0.7;
  }
  &-link {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: $primary-color;
    display: block;
    margin-top: 20px;
    text-decoration: none;
  }
  .active {
    .menu__dropdown-link {
      text-decoration: underline;
    }
    .menu__dropdown-img {
      opacity: 1;
    }
  }
}
.nav__mobile {
  display: none;
  &-icon {
    padding: 8px;
    border: $line;
    display: inline-block;
    cursor: pointer;
    img {
      filter: brightness(0) invert(1);
      width: 22px;
    }
  }
  &-base {
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: $seconary-color;
    z-index: 99999;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }
  &-checkbox:checked ~ .nav__mobile-base {
    transform: translateX(0);
    opacity: 1;
  }
}
.mobile-base {
  &__close {
    padding: 8px;
    border: $line;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    &-icon {
      filter: brightness(0) invert(1);
      width: 22px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: $line;
  }
  &__menu {
    &-list {
      list-style: none;
      padding: 16px 0;
      border-bottom: $line;
    }
    &-item {
      padding: 8px 0;
    }
    &-link {
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      color: $primary-color;
    }
  }
  &__search {
    margin: 16px 0;
    padding: 8px 0;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    &-input {
      width: 100%;
      font-size: 16px;
      border: none;
      padding: 0 16px;
    }
    &-btn {
      img {
        width: 30px;
      }
      border: none;
      background-color: transparent;
      filter: brightness(100) invert(1);
      margin-right: 16px;
    }
  }
  &__footer {
    padding: 16px 0;
  }
}
.mobile__secondary {
  &-list {
    list-style: none;
    font-size: 16px;
    margin: 6px 0 0 10px;
  }
  &-item {
    padding: 6px 0;
  }
  &-link {
    display: flex;
    align-items: center;
    color: $primary-color;
    text-decoration: none;
    font-size: 14px;
    img {
      width: 12px;
      margin-right: 4px;
    }
  }
}
