.construct__content {
  padding: 70px 0 30px;
  border-bottom: $line;
  &-heading {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
  }
}
.construct__item {
  &-content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px 0;
  }
  &-link {
    text-align: center;
  }
  &-desc {
    font-size: 12px;
    font-weight: 400;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: initial;
  }
}
.construct__slide-img {
  height: 834px;
}
.construct__seemore-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0;
}
.construct__testimonial {
  padding: 50px 30px;
}
