.slide {
  max-height: 471px;
  width: 100%;
  &__container {
    position: relative;
  }
  &__item {
    position: relative;
    &-img {
      width: 100%;
      object-fit: cover;
      height: 471px;
    }
    &-content {
      position: absolute;
      top: 35%;
      left: 15%;
      max-width: 400px;
    }
    &-name {
      margin-bottom: 30px;
    }
    &-title {
      font-size: 26px;
      font-weight: 700;
      line-height: 32px;
      text-align: left;
      width: 300px;
      margin-bottom: 24px;
    }
    &-desc {
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
